<mat-toolbar color="primary" class="header">
    <div class="header__left">
        <div class="header__avatar">
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Avatart">
        </div>

        <mat-icon aria-hidden="false" aria-label="Time icon">access_time</mat-icon>
    </div>

    <div class="header__search">
        <mat-form-field color="accent" appearance="outline" floatLabel="never">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Type here to search">
        </mat-form-field>
    </div>

    <div class="header__right">
        <mat-icon aria-hidden="false" aria-label="Time icon">help_outline</mat-icon>
    </div>
</mat-toolbar>
