<mat-toolbar class="header ">
    <div class="header__left">
        <mat-icon aria-hidden="false" aria-label="Time icon">access_time</mat-icon>
    </div>

    <div class="header__search">
        <mat-form-field color="accent" appearance="outline" floatLabel="never">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Type here to search">
        </mat-form-field>
    </div>

    <div class="header__right">
        <mat-icon aria-hidden="false" aria-label="Time icon">help_outline</mat-icon>

        <div class="header__avatar" >
            <button mat-button [matMenuTriggerFor]="myAccountMenu" class="header__avatar-menu-btn">
                <img *ngIf="user?.profilePhoto" [src]="user?.profilePhoto" alt="">
                <div *ngIf="!user?.profilePhoto" class="header__avatar-fallback">
                    <mat-icon aria-hidden="false" aria-label="User icon">person</mat-icon>
                </div>
            </button>

            <mat-menu #myAccountMenu="matMenu" xPosition="before" class="header__avatar-menu">
                <p class="header__avatar-user-name">{{ user?.name }}</p>
                <hr>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
