.app {
    &__header {
        z-index: 10000;
        position: fixed;
        top: 0;
        width: 100%;
    }

    &__body {
        height: 100vh;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    &__footer {
        z-index: 10000;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
