.app {
    &__header {
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }

    &__body {
        height: 100%;
        padding-top: 60px;

        .mat-sidenav-container {
            width: 100vw;
            height: 100vh;

            .mat-sidenav {
                max-width: 260px;
                position: fixed;
                top: 60px;
            }
        }
    }
}
